name: Tests

on:
  # Runs when manually triggered from the GitHub UI.
  workflow_dispatch:

  # Runs when invoked by another workflow.
  workflow_call:

jobs:
  unit_tests:
    name: Unit tests
    uses: apify/workflows/.github/workflows/python_unit_tests.yaml@main
    with:
      python-versions: '["3.10", "3.11", "3.12", "3.13", "3.14"]'
      operating-systems: '["ubuntu-latest", "windows-latest"]'
      # Apify shared don't use codecov, but we have to provide these inputs.
      python-version-for-codecov: "3.14"
      operating-system-for-codecov: ubuntu-latest
